<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css>
</head>

<body>

  <!-- Primary Button -->
  <div class="container-fluid">
      <div class="jumbotron text-center">
        <h1><b>Mission to Mars</b></h1>
        <a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a>
      </div>
  </div>

  <!-- Latest News -->
  <div class="row">
      <div class="col-md-12">
        <div class="media">
          <div class="media-body">
            <h3><b>Latest Mars News</b></h3>
            <h4 class="heading">{{mars_data.news_title}}</h4>
            <p>{{mars_data.news_p}}</p>
            <hr class="my-4">
          </div>
        </div>
      </div>
  </div>

  <!-- Divided Section -->
  <div class="row">

  <!-- Left Side -->
  <!-- Featured Mars Image -->  
    <div class="col-md-8">
      <h3><b>Featured Mars Image</b></h3>
      <img src={{mars_data.featured_image_url}} style="width:300px;">
    </div>

      <!-- Mars Facts --> <!---
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-body">
              <h4><b>Mars Facts</b></h4>
              <table border="1" class="dataframe">
                  {{mars_data.mars_facts |safe }}</table>
            </div>
          </div>
        </div>
      </div> -->
      <div class="col-md-4">
        <div class="text-widget" id="mars_facts">
          <h4>Mars Facts</h4>
          {{ mars_data.mars_facts | safe }}
        </div>
      </div>
      
  </div>

  <!-- New Section is divided into a 2x2 panel for Hemisphere Images -->
  <div class="row" style="margin-top:80px;">
    <div class="col-md-12">
    <div class="page-header">
      <h2 class="text-center"><b> Mars Hemispheres </b></h2>
    </div>
    <!-- Loop through hemispheres dictionary with images and titles -->
    <!-- https://docs.djangoproject.com/en/3.0/ref/templates/builtins/ -->
    {% for hemisphere in mars_data.hemisphere_image_urls %}
      <div class="col-md-6">
        <div class="thumbnail">
          <img src="{{hemisphere.img_url}}" style="width:200px;">
        <div class="caption" style="font-size:small">
          <h3><b>{{hemisphere.title}}</b></h3>
        </div>
      </div>
    {% endfor %}
  </div>
  </div>
</body>
</html>